parameters:
	level: max
	paths:
		- ../../etc
		- ../../src
		- ../../tests
	ergebnis:
		noExtends:
			classesAllowedToBeExtended:
			- Psr\Log\AbstractLogger
			- WyriHaximus\AsyncTestUtilities\AsyncTestCase
